body{
background: url(2img.png);
background-size: cover;
}

.pox{

background: rgba(0,0,0, 0.4);
width: 450px;
text-align: center;
padding: 40px;
color: white;
padding: 40px; 
margin: auto;
margin-top: 5%;

}

.pox h1 {
    background-color: rgb(71, 70, 70);
}
 .pox b {
font-size: 20px;

 }
